# Python
__pycache__/
*.py[cod]
*.so
venv/
env/
.venv/
*.egg-info/
.pytest_cache/

# Django
db.sqlite3
db.sqlite3-journal
backend/media/imagenes/*
backend/media/audios/*
!backend/media/imagenes/.gitkeep
!backend/media/audios/.gitkeep
staticfiles/

# Env
.env
.env.local

# Node
node_modules/
dist/
.vite/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log
